# SAML-validator directory
# https://github.com/JanOppolzer/saml-validator/
SAML_VALIDATOR=/path/to/saml-validator/

# Commit message regular expression
COMMIT_MSG_REGEX="^\w+\: [a-zA-Z0-9\-\+\.\,\ ]{2,} \((add|update|delete)\)"

